<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  	<meta name='viewport' content='width=device-width'>

    <title>My Blog</title>
	  <meta name='description' content='A blog'>

    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="/styles/index.css" /> -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="relative min-h-screen max-w-screen-sm md:max-w-screen-md mx-auto px-8">
    {{ content }}
  </body>
</html>