---
layout: base
---

<div class="min-h-screen flex flex-col">

<main class="flex-1 w-10/12 max-w-screen-sm md:max-w-screen-md mx-auto">

  {{ content }}

</main>

{% include "footer.liquid" %}
</div>
