<nav>
  <ul class="flex py-2 border-b-2 mb-6">
    <li class="mr-6"><a href="/">Home</a></li>
    <li class="mr-6"><a href="/tags">Tags</a></li>
    <li class="mr-6"><a href="/about">About</a></li>
    <li class="mr-6"><span class="cursor-pointer" id="toggleDarkMode">Dark mode</spam></li>
  </ul>
</nav>