.markdown {
  overflow-wrap: break-word;
}
.markdown * + * {
  margin-top: 0;
  margin-bottom: 1rem;
}

.markdown li + li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.markdown li > p + p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}